<div class="div01">
<table class="tabulky">
  <tr>
    <th>Anketa</th>
    <th>o anketě</th>
  </tr>
  <%sude_liche = 0
 for anketa in @anketas    
 sude_liche = 1-sude_liche %>
 <%if Anketa.exists?(anketa)%>
 <tr  class="pozadi<%= sude_liche %>">
  <%#= render :partial => 'anketa', :collection => @anketas %>
  <td><%= link_to anketa.title, :action => 'anketa', :id => anketa %></td>
  <td><%= link_to anketa.key_word, :action => 'anketa', :id => anketa %></td>
  </tr>
  <%end%>
  <% end %>
</table>
</div>
