<br/ >
<div class="">
	<fieldset>
	<legend class="legend"><%="odhlášení z uživatelského rozhraní"%></legend>
	    <h3><%="odhlášení" %></h3>
	    <p><%="Nyní jste odhlášeni za systému..." %></p>
	</fieldset>      
</div>
<p><%='Celý náš tým, Vám přeje pěkný den.'%></p>