<h3>Hodnocení</h3>
<table>
		<tr>
			
			<td>|&nbsp;<b>hodnocení:</b>&nbsp;&nbsp;</td>
			<td><%= link_to 'index', :controller =>'/admin/ankety/hodnoceni', :action => 'index' %>&nbsp;|&nbsp;</td>
			<td><%= link_to 'otázek', :controller =>'/admin/ankety/hodnoceni', :action => 'otazky' %>&nbsp;|&nbsp;</td>
			<td><%= link_to 'anket', :controller =>'/admin/ankety/hodnoceni', :action => 'ankety' %>&nbsp;|&nbsp;</td>
			<td><%= link_to 'uživatelů', :controller =>'/admin/ankety/hodnoceni', :action => 'uzivatele' %>&nbsp;|&nbsp;</td>
			<td></td>
		</tr>
</table>
<BR />
