<%= error_messages_for 'typ' %>
<p><label for="typ_name">Typ</label><br/>
<%= text_field 'typ', 'name' %></p>
<p><label for="typ_key_word">o typu ankety ...</label><br/>
<%= text_field 'typ', 'key_word' %></p>

