<fieldset class="fieldset">
<legend class="legend"><%="ukázat"%></legend>
	<% for column in Role.content_columns %>
	<p>
	  <b><%= column.human_name %>:</b> <span class='static'><%=h @role.send(column.name) %></span>
	</p>
	<% end %>
</fieldset>

<p>
   <% if session[:user] == 1 %>
		<span class="link"><%= link_to 'upravit', :action => 'edit', :id => @role %></span>|
	<% end %>	
	<span class="link"><%= link_to 'seznam', :action => 'list' %></span>
</p>	
