<p><%= link_to 'Nový dokument', :action => 'nahrat' %> 
<%= link_to 'Labyrinty', :controller => "/about", :action => 'index' %></p>
<div class="div01">
<table class="tabulky">
  <tr>
    <th>Jméno dokumentu</th>
    <th>Cesta</th>
    <th>Uživatel</th>
    <th>Vytvořena</th>
    <th>Změněna</th>
  </tr>
  <%= render :partial => 'dokument', :collection => @dokuments %>
</table>
<% if not @dokuments %>
 <ul>POZN.: 
	<li>Zde je seznam všech dokumentů, aktuálně zde není žádný dokument.</li>
</ul>
<% end %>
</div>
